include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include u_theme *.css
recursive-include u_theme *.csv
recursive-include u_theme *.html
recursive-include u_theme *.ico
recursive-include u_theme *.js
recursive-include u_theme *.json
recursive-include u_theme *.md
recursive-include u_theme *.png
recursive-include u_theme *.py
recursive-include u_theme *.svg
recursive-include u_theme *.txt
recursive-exclude u_theme *.pyc